Package: preferenceloader.rootless.top
Description: load preferences in style
Version: 2.2.7
Maintainer: zp,Dustin Howett
Author: Dustin Howett
Architecture: iphoneos-arm64
Name: PreferenceLoader - rootless (top)
Conflicts: preferenceloader, preferenceloader.rootless
Replaces: preferenceloader
Provides: preferenceloader (= 2.2.6)
Section: System
Installed-Size: 336
