Package: preferenceloader.top
Description: load preferences in style
Version: 2.2.7
Maintainer: ProcursusTeam <support@procurs.us>
Author: Dhinak G <dhinak@dhinak.net>
Architecture: iphoneos-arm64
Name: PreferenceLoader (Top)
Depends: mobilesubstrate
Section: System
Conflicts: preferenceloader, preferenceloader.rootless, preferenceloader.rootless.top
Replaces: preferenceloader, preferenceloader.rootless, preferenceloader.rootless.top
Provides: preferenceloader (= 2.2.6)
