Package: preferenceloader.rootless.top
Description: load preferences in style
Version: 2.2.7
Maintainer: Dustin Howett,zqbb
Author: Dustin Howett
Architecture: iphoneos-arm64
Name: PreferenceLoader (top)
Conflicts: preferenceloader, preferenceloader.rootless
Replaces: preferenceloader
Provides: preferenceloader (= 2.2.6)
Section: System
